* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  padding-left: 10px;
  padding-right: 10px;
}

header img {
  height: 50px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: seashell;
}

main {
  position: relative;
  top: 69px;
  margin-left: 50px;
  margin-right: 50px;
}

figure {
  margin-bottom: 40px;
}

figure img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

figcaption {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

footer {
  text-align: center;
  height: 200px;
  padding-left: 20px;
  line-height: 50px;
}

#mission {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  top: 70;
  height: 700px;
  width: 100%;
  background-image: url(./images/img-mission-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

#mission-text {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#mission-text h2,
#mission-text h4 {
  padding: 10px;
}

#featured-tea {
  display: flex;
  justify-content: center;
  flex-basis: 300px;
}

#location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  background-image: url("./images/img-locations-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  line-height: 65px;
  text-align: center;
}

#location h2 {
  position: relative;
  top: 80px;
  text-align: center;
}

#location-heading {
  text-align: center;
  position: relative;
  top: 100px;
}

.heading {
  text-align: center;
  padding: 30px;
}

.heading h2 {
  margin-bottom: 20px;
}

.tea-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  width: 1000px;
}

.downtown {
  width: 300px;
  background-color: black;
  margin: 15px 40px;
  opacity: 1;
}

.east-bayside {
  width: 300px;
  background-color: black;
  margin: 15px 40px;
  opacity: 1;
}

.oakdale {
  width: 300px;
  background-color: black;
  margin: 15px 40px;
  opacity: 1;
}

