* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  padding-left: 10px;
  padding-right: 10px;
}

header img {
  height: 50px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: seashell;
}