* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  padding-left: 10px;
  padding-right: 10px;
}

header img {
  height: 50px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: seashell;
}

main {
  margin-top: 69px;
  text-align: center;
}

main h2 {
  padding: 10px;
}

main h4 {
  padding: 10px
}

.mission-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.mission-text {
  display: flex;
  flex-flow: column wrap;
  background-color: black;
  width: 1200px;
  position: relative;
  top: -500px;
}

.tea-of-the-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
}

.featured-tea {
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 1000px;
}

.img-container {
  margin: 15px;
}

.featured-tea img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}